################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.exe
*.tfstate
/*/*.tfstate
/learn-terraform-azure/.terraform
